{% extends "base.html" %}
{% block content %}
    {{ super() }}
    <div>
        <h2>IDAYIT Twillio Call</h2>
        <p>This is test page to test Twillio calls</p>
    </div>
    <form id="contactForm" role="form">
        <div class="form-group">
            <h3>Call Sales</h3>
            <p class="help-block">
                Are you interested in impressing your friends and
                confounding your enemies? Enter your phone number
                below, and our team will contact you right away.
            </p>
        </div>
        <div class="form-group">
            <select name="phoneNumber">
                <option value="+41323436151">+41323436151</option>
            </select>
            <button type="submit" class="btn btn-default" href="{{ url_for('call') }}">
                Contact Sales
            </button>
    
        </div>
    </form>
{% endblock %}
